
/* ===== Общие стили ===== */

body{
  max-width: 1440px;
  width: 100%;
  margin:  0 auto;
  
  color: #2E2F22;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;  
  font-weight: 400;
  font-style: normal;  

  background-color: white;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;  
}

p{
  margin: 0;
  padding: 0;
}
.container{
  padding: 0 120px;
  box-sizing: border-box;
}

.title{
  font-family: 'Spectral SC', serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
}
button{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

button:focus{
  outline: none;
}
/* =====Header ===== */

.header{
  min-height: 581px;
  max-width: 1440px;
  width: 100%;

  background-image: url(../img/header/background_main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.header_logo_img{
  padding: 4px 0 0 0;
}

.header_logo_img:hover{
  opacity: 0.7;
}

.header_logo_img:active{
  opacity: 0.5;
}

.header_inner { 
  width: 100%;  
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.header_nav_link{
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #2E2F22;
  margin-right: 80px;
  text-decoration: none;  
}

.header_nav_link:last-child{
  margin-right: 0;
}

.header_nav_link:hover{  
  text-decoration: underline;
}

.header_nav_link:active{
  opacity: 0.7;
}


/* ===== Main ===== */
main{
  width: 100%;  
}

/* ===== Articles ===== */
.articles{
  width: 100%;
  margin-top: 86px;  
  margin-bottom: 85px;;
}

.article_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.article_title{
  margin-bottom: 49px;
}
.article_choise{
  width: 203px;  
  background-color: #D7D1C9;
  /* background-image: url(../img/main/svg/select.svg);
  background-position: right 19px top 15px;
  background-repeat: no-repeat;
  background-size: auto; */
  border-radius: 10px;
  padding: 12px 0 12px 20px;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;  
}

.article_link{
  text-decoration: none;
}
.article_item{ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.small{
  width: 387px; 
  margin-bottom: 62px;
}

.large{
  width: 590px;
  min-height: 552px;
  margin-bottom: 0;
}

.title_large{
  font-size: 20px;
  line-height: 30px;
}

.text_large{
  font-size: 18px;
  line-height: 28px;
}

/* .article_item:nth-child(1),
.article_item:nth-child(2),
.article_item:nth-child(3){
  margin-bottom: 62px;
} */

/* .article_item:nth-child(4),
.article_item:nth-child(5){
  margin-bottom: 0;
} */

.article_item:hover{
  filter: sepia(80);
  background-color: #D7D1C9;
}

.article_item:active{
  opacity: 0.7;
}

.article_tag_item:hover{
  text-decoration: underline;
}

.article_tag_item:active{
  color: black;
}

.a_item_4{
  background-image: url(../img/main/article_04.jpg);
}

.a_item_5{
  background-image: url(../img/main/article_05.jpg);
}

.text_on_image{
  box-sizing: border-box;
  padding-top: 339px;
  padding-right: 82px;
  padding-left: 80px;
}

.article_item_title{
  margin-top: 23px;
  margin-bottom: 9px;

  font-family: Spectral SC;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #2E2F22;
}

.article_item_description{
  margin-bottom: 12px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2E2F22;
}

.article_item_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: rgba(46, 47, 34, 0.7);
}

.article_btn{
  padding: 12px 58px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.article_btn:hover{
  background-color: #D7D1C9;  
}

.article_btn:active{
  background-color: #D7D1C9;
  opacity: 0.7;  
}

/* ===== About_me ===== */
.about_me{
  width: 100%;
  margin-bottom: 84.5px;
}

.about_me_title{
  width: 100%;
  margin-bottom: 49px;
}

.about_me_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_me_info{
  width: 570px;
}

.about_me_info_text{
  width: 500px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  padding-top: 26px;
}
.about_me_link{
  color: #2E2F22;
}

.about_me_info_idea{
  width: 550px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px; 
  margin-left: 0;
  margin-top: 98px;
  position: relative;
}

.about_me_info_idea:before{
  content: "";
  height: 214px;
  border: 3px solid #D7D1C9;
  position: absolute;
  top: -27px;
  left: -20px;
}

/* ===== Portfolio ===== */
.portfolio{
  width: 100%;
}

.portfolio_title{
  margin-bottom: 49px;
  color: #2E2F22;
}
.portfolio_card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 100px;
}
.portfolio_card_a{
  text-decoration: none;
}

.portfolio_card_item{
  width: 387px;
  min-height: 525px;  
  padding: 140px 15px 0 15px;
  box-sizing: border-box;
  
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

  text-align: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
.item_1{
  background-image: url(../img/main/portfolio_1.jpg); 
}

.item_2{
  background-image: url(../img/main/portfolio_2.jpg); 
}

.item_3{
  background-image: url(../img/main/portfolio_3.jpg); 
}

.portfolio_card_item:hover{
  transform: scale(1.05);
  transition: transform 0.2s linear;
}
.portfolio_card_item:active{
  border: 1px solid black;
  opacity: 0.8;
}

.portfolio_card_item_title{  
  margin-bottom: 44px;
  font-family: Spectral SC, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2E2F22;
}
.portfolio_card_item_subtitle{
  margin-bottom: 17px;
  font-family: Spectral SC, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #2E2F22;
}
.portfolio_card_item_text{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2E2F22;
}

.portfolio_btn{
  padding: 12px 51px;
  margin: 0 auto;
  display: block;
  border-radius: 10px; 
  text-transform: uppercase;
  
}

.portfolio_btn:hover{
  background-color: #D7D1C9;  
}

.portfolio_btn:active{
  background-color: #D7D1C9;
  opacity: 0.7;  
}

/* ===== Contacts ===== */
.messanges{
  width: 100%;  
  margin-bottom: 81px;
  margin-top: 84px;
  /* text-align: center; */
}
.messange_title{
  margin-bottom: 49px;  
}
.messange_form{
  width: 83%;
  margin: auto;
  padding: 53px 81px 62px 81px;
  background-image: url(../img/main/form_bgi.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  box-sizing: border-box;
}
.form_info{
  display: flex;
  justify-content: space-between;  
}

.form_messange, .form_mail_p, .form_text_p{
  font-family: Spectral SC, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #2E2F22;
}

input[type="text"]:focus, input[type="email"]:focus, .messange_text:focus{
  background-color: #D7D1C9;
  opacity: 1;
}

input[type="text"], input[type="email"], .btn, .messange_text{
  padding: 20px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #202117;
  border-radius: 10px;
}

.btn_messange{
  padding: 12px 65px;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  border-radius: 10px;
}

.btn_messange:hover{
  background-color: #D7D1C9;  
}

.btn_messange:active{
  background-color: #D7D1C9;
  opacity: 0.7;  
  outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, .btn:focus, .messange_text:focus{
  outline: none;
}


input[type="text"], input[type="email"], .messange_text{
  margin-top: 12px;
  margin-bottom: 20px;
  opacity: 0.5;
}

input[type="text"], input[type="email"]{
  width: 407px;  
}
 .messange_text{
    display: block;
    width: 837px;
    height: 293px;
    resize: none;
}

/* ===== Footer ===== */
.footer{
  width: 100%;
  min-height: 181px;

  background-color: #D7D1C9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_link{
  margin: 0 60px;
  color: #2E2F22;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.footer_link:first-child{
  margin-left: 0;
}

.footer_link:last-child{
  margin-right: 0;
}

.footer_link:hover{
  text-decoration: underline;
  transform: scale(1.3);
  transition:  transform 0.2s linear;
}

.footer_link:active{
  opacity: 0.7;
}

/* ========= */
.white{
  color: white;
}